.box {
    
    width: 500px;
    height: 400px;
    
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.fixicon{
    margin-right: 5px
}

.spinner{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}